# System
.DS_Store

# Python
.ipynb_checkpoints/
__pycache__/
*.ipynb
*.py[cod]

# Excludes everything in models/ except for *.tflite and labels.txt
**/models/*/*
!*.tflite
!labels.txt

# Env
.vscode/
.venv/
.python-version
