<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi Live Streaming </title>
</head>

<body style="background-color: #212121; margin: 20px">

    <header>
        <h1 align="left" ><a style="color:white; inline-block;" href="https://github.com/jingw222">RasPiCam Vision App </a></h1>
    </header>

    <div style="width:100%; height: 30px;">
        <form style="display:inline-block;" name="target" action="{{ url_for('index') }}" method='POST'>
            <label for="target" style="font-family: 'Courier'; font-size : 14px; color: white;">Model Version:</label>
            <select id="target" name="target" type="text" style="font-family: 'Courier'; font-size : 14px; border: none;" required>
                <option value="" selected disabled> -- Select -- </option>
                
                {% for ver in candidates %}

                <option value="{{ver}}" {% if ver == target %} selected {% endif %}>{{ver}}</option>

                {% endfor %}

            </select>

            <button type="reset" name="reset_button"
                style="font-family: 'Courier'; font-size : 14px; color: white; background-color: #fc6408; border-radius: 6px; border: none;">RESET</button>  
            <button type="submit" name="submit_button"
                style="font-family: 'Courier'; font-size : 14px; color: white; background-color: royalblue; border-radius: 6px; border: none;">SUBMIT</button>
        </form>
    </div>

    <div>
        {% if target is not none %}

        <img style="vertical-align: middle" src="{{ url_for('videostream', target=target) }}">

        {% else %}

        <p style="font-family: 'Courier'; color: #fc6408;">Please submit a model to get started.</p>

        {% endif %}
    </div>

</body>

<footer style="position: absolute; bottom: 20; border-top:1px solid lightgrey;">

        <p style="font-family: 'Georgia'; color:lightgrey; display: inline;">Powered by </p>
        <p style="display: inline;"><a style="font-family: 'Roboto'; font-weight:bold; color:#fc6408; display: inline;"
                href="https://www.tensorflow.org">TensorFlow</a></p>
        <p style="font-family: 'Georgia'; color:lightgrey; display: inline;">& </p>
        <p style="display: inline;"><a style="font-family: 'Droid Serif'; font-weight:bold; color:#396179; display: inline;"
                href="https://www.tensorflow.org">Flask</a></p>        
        <p style="font-family: 'Georgia'; color:lightgrey; display: inline;">with &#x1F496</p>

    <small style="font-family: 'Arial'; color:dimgray;">&copy; Copyright 2019, James Wong </small>
</footer>

</html>