<html>
  <head>
    <title>Raspberry Pi Live Streaming </title>
  </head>
  <body>
    <h1>Raspberry Pi Live Streaming </h1>
      
      <div style="width:100%; height: 30px">
          
        <form name="candidates" action="{{ url_for('index') }}" method='POST'>
          <label for="candidates" style="font-family: 'Helvetica';">Model Version: </label>
          <select id="candidates" name="candidates" type="text">
              
            {% for ver in candidates %}
              
              <option value="{{ver}}" {% if ver == target %} selected {% endif %}>{{ver}}</option>
              
            {% endfor %}
              
          </select>
          <button type="submit" style="font-family: 'Helvetica'; color: white; background-color: BlueViolet; border-radius: 6px;">SUBMIT</button>
        </form>
        
      </div>
      
      <div>
          
        {% if target is not none %}
          
          <img style="vertical-align: middle" src="{{ url_for('videostream', target=target) }}">
          
        {% else %}
          
          <p>Please select a model to get started.</p>
          
        {% endif %}
          
      </div>
      
  </body>
</html>
