<!DOCTYPE html>
<html>
  <head>
    <title>Raspberry Pi Live Streaming </title>
  </head>
  <body style="background-color: black;">
    <h1 style="color:white;">Raspberry Pi Live Streaming </h1>
      
      <div style="width:100%; height: 30px">
          
        <form name="candidates" action="{{ url_for('index') }}" method='POST'>
          <label for="candidates" style="font-family: 'Courier'; font-size : 13px; color: white;">Model Version:</label>
          <select id="candidates" name="candidates" type="text" style="font-family: 'Courier'; border: none;">
              
            {% for ver in candidates %}
              
              <option value="{{ver}}" {% if ver == target %} selected {% endif %}>{{ver}}</option>
              
            {% endfor %}
              
          </select>
          <button type="submit" style="font-family: 'Courier'; font-size : 13px; color: white; background-color: royalblue; border-radius: 6px; border: none;">SUBMIT</button>
        </form>
        
      </div>
      
      <div>
          
        {% if target is not none %}
          
          <img style="vertical-align: middle" src="{{ url_for('videostream', target=target) }}">
          
        {% else %}
          
          <p>Please select a model to get started.</p>
          
        {% endif %}
          
      </div>
      
  </body>
</html>
